/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    font-family: 'Signika', sans-serif;
    background-color: #fff;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.start {
    background: url('../img/bg/intro.jpg');
    min-height: calc(100vh - 80px);
    background-size: cover;
    background-position: bottom;
}

.logo-container {
    text-align: center;
    position: absolute;
    top: 45%;
    margin-top: -93px;
    left: 0;
}

.logo-container h2 {
    font-size: 23px;
    color: white;
}

img.logo {
    margin: 0 auto;
}

.description p {
    font-weight: 300;
    color: #808080;
    font-size: 20px;
}

.description h2 {
    font-weight: 700;
    font-size: 35px;
}

.head {
    text-align: center;
}

.grey {
    font-weight: 300;
    color: #808080;
    font-size: 20px;
}

.team .head p {
    max-width: 550px;
    margin: 0 auto;
}

.team .member {
    position: relative;
}

.team .member .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 0, 0, 0.5);
    border-left: 7px solid white;
    border-right: 7px solid white;
    padding: 15px;
    padding-top: 100px;
}

.team {
    color: white;
}

.team .member {
    margin-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;
}

.team .overlay h2, .team .desc {
    line-height: 24px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    float: left;
    width: 100%;
    color: white;
}

.head h2 {
    color: black !important;
}

.head {
    margin: 70px 0;
}

.team .overlay h2 {
    text-transform: uppercase;
}

.team .overlay {
    opacity: 0;
    transition: all 400ms cubic-bezier(.07, .58, .39, 1);
}

.team .member:hover .overlay {
    opacity: 1;
}

.team .member .overlay h2 {
    opacity: 0;
    transition: all 0.40s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.team .member:hover h2 {
    opacity: 1;
}

.team .member .overlay .desc {
    opacity: 0;
    transition: all 0.70s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.team .member:hover .desc {
    opacity: 1;
}

.kontakt-teaser {
    background-color: #f3f3f3;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 80px;
}

.kontakt-teaser h3:after {
    background: #f64747;
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 30px;
    margin: 10px auto 20px;
}

.kontakt-teaser h3 {
    text-align: center;
    text-transform: lowercase;
    font-size: 41px;
    line-height: 70px;
    font-weight: 700;
}

.center {
    text-align: center;
}

#contact input[type="text"] {
    width: 100%;
    background-color: #f3f3f3;
    height: 48px;
    border: 1px solid #e6e6e6;
    margin-bottom: 30px;
}

#contact textarea {
    background-color: #f3f3f3;
    border: 1px solid #e6e6e6;
    width: 100%;
    padding: 10px 15px;
}

input, textarea, select {
    font-family: 'Signika', Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    border-radius: 3px;
    outline: 0;
    display: block;
    max-width: 100%;
    padding: 6px 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    background: transparent;
    color: #808080;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

h2.section-title {
    text-transform: lowercase;
    font-size: 41px;
    line-height: 70px;
    font-weight: 700;
}

.section-title:after {
    background: #f64747;
}

.section-title:after {
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 30px;
    margin: 10px auto 20px;
    background: #f64747;
}

.team h2.section-title {
    color: white;
}

.container.description {
    padding-top: 130px;
}

.mocks {
    padding-top: 70px;
}

.menu-wrapper {
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #e6e6e6;
    z-index: 999;
    width: 100%;
}

.menu-wrapper {
    position: absolute;
}

.menu-wrapper.fixed {
    position: fixed;
    top: 0;
}

.menu-wrapper li {
    padding: 0 10px;
    float: left;
}

.menu-wrapper li a {
    padding: 0 5px;
    float: left;
    color: #808080;
    font-size: 12px;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #222222;
    min-height: 180px;
    margin-top: 50px;
    color: white;
    padding-bottom: 30px;
}

.footer a {
    color: white;
}

.footer nav {
    float: right;
    position: absolute;
    bottom: 15px;
}

.footer nav ul {
    float: left;
    margin: 0;
    width: 100%;
}

.relative {
    position: relative;
}

.footer .logo {
    padding: 40px 0;
}

.footer nav {
    float: left;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.separator {
    background: #f64747;
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 30px;
    margin: 0 auto;
}

.footer .separator {
    margin-bottom: 30px;
}

.footer .impressum {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.quote {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../img/bg/tollesbildwow_51.jpg');
    background-size: cover;
    background-position: bottom;
    font-weight: 300;
    color: white;
    font-size: 34px;
    text-align: center;
}

ul li a:hover {
    text-decoration: none;
}

ul li a:hover, ul li.active a {
    color: #f64747;
}

ul li a {
    display: block;
}

.impressum:hover {
    text-decoration: none;
    color: #f64747;
}

#project, #contact-us {
    padding-top: 130px;
}

a:focus {
    text-decoration: none;
}

.mocks img {
    margin-bottom: 15px;
}

.navbar-toggle .icon-bar {
    border: 1px solid black;
}


@media (max-width: 767px) {
    .menu-wrapper li {
        width: 100%;
    }

    .start {
        min-height: calc(100vh - 50px);
    }
}